
@{
    ViewBag.Title = "NotFound";
}

<h2>Ошибка</h2>
<div style="text-align:center;"><b>Элемент не найден, вернитесь на главную и попробуйте еще раз.</b></div>
<div>
    @Html.ActionLink("На главную", "Index")
</div>
