
@{
    ViewBag.Title = "SomethingWrong";
}

<h2>Ошибка</h2>
<div style="text-align:center;"><b>При создании или редактировании записи были указаны некорректные данные, попробуйте еще раз!</b></div>
<div>
    @Html.ActionLink("На главную", "Index", "Home")
</div>


