
@{
    ViewBag.Title = "UnknownError";
}

<h2>Ошибка</h2>
<div style="text-align:center;"><b>При работе с базой данных произошла неопределенная ошибка, попробуйте еще раз!</b></div>
<div>
    @Html.ActionLink("На главную", "Index", "Home")
</div>

